<h1 class="mt-4">Welcome to the official Qrystal wiki</h1>
<hr class="horizontal">
<p class="">I should write here some interesting things</p>

<p class="lead mb-3">There are going to be some craftings and so</p>

<table>
  <tr>
    <td>
      <a><img></a>
    </td>
  </tr>
</table>