<div class="row mb-4">

  <div class="mr-5">
    <!-- ? TITLE -->
    <h1 class="ml-2">Hammer</h1>
  </div>

  <div class="">
    <!-- ? Example item -->
    <a><span class="invslot example-item">
        <span class="mySlideIndic">
          <img title="Diamond Hammer" src="<%=lookup.diamond_hammer.url%>">
        </span>
        <span class="mySlideIndic">
          <img title="Stone Hammer" src="<%=lookup.stone_hammer.url%>">
        </span>
        <span class="mySlideIndic">
          <img title="Iron Hammer" src="<%=lookup.iron_hammer.url%>">
        </span>
      </span></a>
  </div>


</div>
<!-- ? LEAD TEXT -->
<p class="lead font-weight-normal"> Hammers are one of the most important (and one of the few existing) tools in
  Qrystal. There are meant to multiply income from mined
  ores and qrystals. <br> They exist in 3 variations: stone, iron and diamon.</p>
<p class="lead font-weight-normal"> But that's not all. Hammers are also good for destroying your firends machines and
  crippling his mother's head.
</p>
<p class="lead font-weight-normal"> As all good things must at some time end, ends this description too.</p>

<!-- ? OBTAINING -->
<h3>Obtaining</h3>

<!-- ? CRAFTING -->
<h4>Craftable:</h4>
<div style="max-width: 100%; overflow-x: auto;
">
  <%- include ("../partials/crafting_carousel",{craftArr: [lookup.diamond_hammer, lookup.stone_hammer, lookup.iron_hammer, ]})%>
</div>

<h4>Dungeon loot:</h4>
<p class="lead font-weight-normal">
  Can be found in spooky dungeons, where the skeleton sleep and the zombies are trying to fuck your wifes.
</p>
<!-- ? USAGE -->
<h3>Usage</h3>
<p> Hammer is

  <!-- ? CAROUSEL example-item script -->
  <script>
    let slideIndexIndic = 0;
    carouselIndic();

    function carouselIndic() {
      var i;
      var x = document.getElementsByClassName("mySlideIndic");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      slideIndexIndic++;
      if (slideIndexIndic > x.length) { slideIndexIndic = 1 }
      x[slideIndexIndic - 1].style.display = "block";
      setTimeout(carouselIndic, 2000); // Change image every 2 seconds
    }
  </script>