<a><span class="invslot example-item">
    <span class="mySlideIndic">
      <img title="Diamond Hammer" src="<%=lookup.diamond_hammer.url%>">
    </span>
    <span class="mySlideIndic">
      <img title="Stone Hammer" src="<%=lookup.stone_hammer.url%>">
    </span>
    <span class="mySlideIndic">
      <img title="Iron Hammer" src="<%=lookup.iron_hammer.url%>">
    </span>
  </span></a>
<h1>Hamer</h1>
<p class="lead font-weight-normal"> There r 3 hemrs <br>
  hamerz is gud 4 banging stuffs <br>
  crush dis crush dat <br>
  ashes 2 ashes, dust 2 dust <br>
</p>


<h2>Obtaining</h2>
<p>Can be kraftd</p>
<div style="display: grid; grid-template-columns: repeat(3, 1fr);
">
  <%- include ("../partials/crafting_carousel",{craftArr: [lookup.diamond_hammer, lookup.stone_hammer, lookup.iron_hammer, ]})%>
</div>

can b in dungeon chest about 6 often

<h2>Usage</h2>
<p>Hamer is jus 4 <a href="#smashin" class="text-info">smashin</a> stuffs. Read about dat here</p>

<script>
  let slideIndexIndic = 0;
  carouselIndic();

  function carouselIndic() {
    var i;
    var x = document.getElementsByClassName("mySlideIndic");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    slideIndexIndic++;
    if (slideIndexIndic > x.length) { slideIndexIndic = 1 }
    x[slideIndexIndic - 1].style.display = "block";
    setTimeout(carouselIndic, 2000); // Change image every 2 seconds
  }
</script>